<h1>Edit Tweet</h1>

<%= render "form", tweet: @tweet %>

<%= form_with model: @tweet, data: { turbo: false } do |form| %>
    <%= render "shared/form_errors", form: form %>
    <div class="mt-3">
        <% if form.object.persisted? %>
            <%= button_to "Delete", form.object, method: :delete, data: { Confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        <% end %>
    </div>
<% end %>
